mat-card-title {
  margin-bottom: 10px;
}

mat-card {
  justify-content: center;
  text-align: center;
}

mat-card-header {
  justify-content: center;
}

mat-card-actions {
  justify-content: center;
}